body {
  font-family: helvetica;

.main-content {
  h2 {
    text-align: center;
  }
}

  .main-view {
    width: 90%;
    margin: 0 auto;
    text-align: justify;
    position: relative;
    border: 3px solid #1DA1F2;
    border-radius: 5px;
    padding: 1%;


    label {
      text-align: right;
      margin-top: 1.2rem;
      position: absolute;
      right: 0;
    }
  }
  .modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.5);
  }

  .modal-content {
    background: white;
    border: 2px solid #1DA1F2;
    font-size: 1.3rem;
    border-radius: 5px;
    width: 31%;
    margin: 0 auto;
    height: 25vh;
    margin-top: 20%;
    padding: 2%;

    span {
      display: block;
      margin-bottom: 2rem;
    }
  }

  .confirmBtn {
    margin-left: 25%;
    font-size: 1rem;
    border: 0;
    border-radius: 5px;
    padding: 3%;
    background-color: #1DA1F2;
  }

  .cancelBtn {
    text-decoration: none;
    margin-left: 0.5rem;
    color: black;
    font-size: 1rem;
    border: 0;
    border-radius: 5px;
    padding: 3%;
    background-color: #1DA1F2;

  }
}
